

.site-main {
	background: #fff;

}

.site-content .widget-area {
	float: right;
	padding: 4rem;
	width: $size__site-sidebar;
}
.widget-area ul {
	margin-left:0;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.entry-header,
.entry-content,
.entry-meta,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
	position: relative;
	max-width: 780px;
	padding: 0 4rem;
	margin: 0 auto;
}

@media screen and (min-width: 1160px) {
	.content-area {
		float: left;
		margin-left: (-$size__site-sidebar);
		padding-left: ($size__site-sidebar);
		width: 100%;
	}

	.entry-header,
	.entry-content,
	.entry-meta,
	.entry-footer,
	.tag-links,
	.post-navigation,
	.comments-area,
	.paging-navigation {
		margin-right: 0;
	}
}

@media screen and (max-width: 1159px) {
	.site-content .widget-area {
		float: none;
		max-width: $size__site-main;
		margin: 1em auto 0;
		width: auto;
	}
}

@import "no-sidebar";
