.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-title,
.entry-title a {
	color: $color__text-title;
	font-size: 1.7em;
	text-decoration: none;
}

.widget-title {
	color: $color__text-title;
	font-size: 1.1em;
	font-weight: 500;
	text-transform: uppercase;
}
.widget-area ul li {
	border-top: 1px solid $color__border-widget-menu;
	list-style: none;
	padding: .6em 0;
}
.widget-area a {
	font-weight:100;
	text-decoration: none;
}
.widget-area a:hover {
	border-bottom: 3px solid blue;
}
.widget-area ul li:last-child {
	border-bottom: 1px solid $color__border-widget-menu;
}
